#loginAnchor{
    -fx-background-image: url('../img/loginBack.jpg');
}
.error{
    -fx-background-color: #EF5350;
}
.success{
    -fx-background-color: #689F38;
}
.selected{
    
}
.hovered{
    
}
.custom-dropdown {
    -fx-font: 16px "System";
}